data.csv
data_out.csv
DATA/
DATA_OUT/
*.pkl
debug_generated_script.py
__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
1JSON/
1JSON_OUT
mlruns/
mlruns_DIRECT_LOCAL_TEST/
1JSON_PREDICT_IN/
1JSON_PREDICT_OUT/
DATA_STAN/
DATA_STAN_OUT/
2JSON_STATE/
2JSON_STATE_OUT/
ALL/
processed/
baza_maz.ipynb
lokalizacja.csv
saleflatmeta_mazowieckie.csv
saleflats_mazowieckie.csv
saleflats_mazowieckie_b.csv
saleflats_mazowieckie_c.csv
Simc.csv
Terc.csv
Ulic.csv
saleflats_warszawa_with_embedding_predictions_2.csv
Location_Polska_v15_full_prediction.csv
saleflats_2024_dateAdded_fragment.txt
saleflats_2024_dateAdded_polska.csv